<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
		
<hibernate-configuration>
	<session-factory>
		<!-- Database Type -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		
		<!-- Database Properties -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost/STUDENTS</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">welcome</property>
		
		
		<!-- Schema Validation -->
		<property name="hbm2ddl.auto">update</property>
		
		
		<!-- Debugging and Formatting -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		
		<!-- Required for annotations to work without Person.hbm.xml -->
		<mapping class="com.edureka.java_j2ee.module8.Person" />
	</session-factory>
</hibernate-configuration>
